<h1> <%= t('dashboard.roles.rh') %> </h1>
<table>
  <tr> 
    <th> Empleados registados </th>
  </tr>
  <% users.each do |user| %>
  <tr> 
    <td> <%= user.name %> <td>
    <td> <%= user.role.descr %> <td>
    <td> <%= l user.created_at, format: :short  %> <td>
  </tr> 
  <% end %>
</table>

<%= link_to 'Registrar Empleado', new_user_registration_path, class: 'btn btn-primary'%>
