<div class="form-group">
  <%= f.text_field :name, placeholder: 'Nombre', class: 'form-control' %>
  <%= f.text_field :rfc, placeholder: 'RFC', class: 'form-control' %>
  <%= f.text_field :email, placeholder: 'Correo electrónico', class: 'form-control' %>
  <%= f.text_field :tel, placeholder: 'Teléfono', class: 'form-control' %>
  <%= f.text_field :cel, placeholder: 'Celular', class: 'form-control' %>
  <%= f.text_field :position, placeholder: 'Posición en la empresa', class: 'form-control' %>
</div>
