<div class="d-flex align-items-center flex-column mt-4">
  <h1> Registrar nuevo cliente </h1>
  <%= form_for @client, html: { class: 'two-columns' } do |f| %>
    <div class="row">
      <div class="col-5">
        <h5> Informaci贸n del Cliente </h5>
        <%= f.text_field :name, placeholder: "Nombre", class: 'form-control mt-1' %>
        <%= f.text_field :email, placeholder: "Correo electr贸nico", class: 'form-control mt-1' %>
        <%= f.text_field :cellphone, placeholder: "Telefono Celular", class: 'form-control mt-1' %>
        <%= f.text_field :rfc, placeholder: "RFC", class: 'form-control my-1' %>
        <%= label :type, 'Tipo de cliente:' %>
        <%= select_tag :type, options_for_select([['Corporativo', 1], ['Empresa', 2]], 2), { id: 'type' } %>
        <%= f.select :company_id, companies.map {|c| [c.name, c.id]}, { prompt: 'Selecciona una empresa' }, { class: 'form-control', id: 'companies' } %>
        <%= f.select :corporate_id, corporates.map {|c| [c.name, c.id]}, { prompt: 'Selecciona una coorporativo' }, { class: 'form-control', id: 'corporates' } %>
      </div>
      <div class="col-5">
        <h5> Informaci贸n del Contacto </h5>
        <%= f.text_field :contact_name, placeholder: "Nombre", class: 'form-control mt-1' %>
        <%= f.text_field :contact_email, placeholder: "Correo electr贸nico", class: 'form-control mt-1' %>
        <%= f.text_field :contact_cel, placeholder: "Telefono Celular", class: 'form-control mt-1' %>
        <%= f.text_field :contact_tel, placeholder: "Telefono de Casa", class: 'form-control mt-1' %>
      </div>
    </div>
    <div class="two-btns-column">
      <%= f.submit 'Guardar', class: 'btn btn-primary mt-5' %>
      <%= link_to 'Regresar', root_path, class: 'btn btn-primary my-5'%>
    </div>
  <% end %>
</div>
