<div class="d-flex align-items-center flex-column mt-4">
  <h1> Registrar Empresa </h1>
  <%= form_for @company, html: { class: 'two-columns' } do |f| %>
    <div class="row">
      <div class="col-5">
        <h4> Información de la empresa </h4>
        <%= render 'shared/comp_corp_form', f: f %>
        <div class="form-group">
          <%= check_box :corp, 'si', id: 'corp', class: 'check-form mt-3' %>
          <%= label :corp, 'Pertenece a un corporativo' %>
        </div>
        <div class="corporate">
          <%= f.select :corporate_id, corporates.collect {|c| [c.name, c.id]}, { prompt: 'Selecciona un corporativo' }, {class: 'form-control'} %>
        </div> 
      </div> 
      <div class="col-5">
        <h4> Representante legal </h4>
        <div id="keep-rep">
          <%= label :rep, 'Mantener el representante legal del corporativo' %>
          <%= check_box :rep, 'si', id: 'rep' %>
        </div>
        <div class="info-repre">
          <h5> Información del representante legal </h5>
          <%= f.fields_for :representative, @repre do |rep| %>
            <%= render 'representatives/form', f: rep %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="two-btns-column">
      <%= f.submit 'Crear', class: 'btn btn-primary mt-4' %>
      <%= link_to 'Regresar', root_path, class: 'btn btn-primary mt-4' %>
    </div>
  <% end %>
</div>
