<h2>Iniciar Sesión</h2>

<div class="shadow-sm p-3 mb-5 bg-white rounded registro form-singin">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Correo" %>
  </div>

  <div class="field pt-2">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"Contraseña" %>
  </div>

  <div class="form-check">
      <% if devise_mapping.rememberable? %>
    <div class="field pt-2 text-center">
      <%= f.check_box :remember_me, class:"form-check-input" %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  </div>

  <div class="actions pt-2 text-center">
    <%= f.submit "Ingresar", class:"btn btn-primary" %>
  </div>
<% end %>

</div>
<%= render "devise/shared/links" %>
